*{
    background: #f4efef;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.nav{
    /* display: flex; */
   
    padding: 20px 10% ;
    height: 15vh;
    /* background-color: blueviolet; */
    
    
}
nav ul{
    display: flex;
    align-items: center;

  

    

}
nav ul li{
    
    
    list-style: none;
    margin: 5%;
    font-weight: 500;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.leftmain{
    width: 40%;

}
.leftmain h1{
font-size: 67px;
font-family: 'Times New Roman', Times, serif;

}


.leftmain p{
    margin: 5% 0;


}
.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 5px;
    color: #ffffff;
    font-weight:500 ;

}
.rightmain{
    width: 60%;
}
